#this is a valid configuration file
 #The following variables don’t have default values and must be set 
 	spImagesDirectory = ../images/
 		spImagesPrefix=img
spImagesSuffix = ..jpg 
	 spNumOfImages = 14
 ##############the following variables have default values, if not set the default value is choosen 
 ## spPCADimension = 20 -> notice the default value is chosen since this is a comment 
 	spPCAFilename = pca.yml 
 spNumOfFeatures = 100 
 					spExtractionMode = true 
##############spMinimalGUI = true -> the default value is chosen since this is a comment 
 spNumOfSimilarImages = 5 
 				spLoggerFilename = stdout